$background: rgb(50,50,57);
$background-soft: rgba(30,30,34, .1);
$background-line: rgb(10, 10, 14);
$menu: rgb(30,30,34);
$menu-soft: rgba(30,30,34, .5);
$text: white;
$text-soft: rgba(255, 255, 255, .3);
$shadow-light: rgba(255, 255, 255, .5);
$shadow-dark: rgba(0, 0, 0, .5);
$shadow-pulse1: rgba(255, 255, 255, 0);
$shadow-pulse2: rgba(255, 255, 255, .4);
$text-accent: red;
$text-ok: rgb(0, 255, 0);
$text-link: rgb(96, 176, 241);